</div>
{% include '__skeleton/sidebar.twig' %}
		<hr/>
        <footer>
                <p>Copyright {{date}} <a href="{{copyright_holder_url}}">{{copyright_holder}}</a></p>
        </footer>
</div id="wrapper">
</body>
</html>