*{margin:0;color:#333;font-family:Myriad Pro, Verdana;font-size:14;background-color:#E9E7CF;}
body{width:100%}
#wrapper{width:750px;margin:0 auto 0 auto;}
header{text-align:center;margin-top:10px;}
#main{min-height:300px;}
footer{font-size:0.6em;color:#888;text-align:center;bottom:0px;}